html{
    height: 100%;
}

.headerImg{
    max-width: 400px;
    position: relative;
    left:50%;
    transform: translate(-50%)
}

@media(max-width: 400px){
    .headerImg{
        max-width: 100%;
    }
}

.positionImg{
    top:0;
    position: fixed;
    z-index: 9;
    background-color: #FFF;
    width: 100%;
}
@media(min-width: 600px){
    .positionScreen{
        width: 450px;
        position: relative;
        left:50%;
        transform: translate(-50%)
    }
}